@import '../../styles/_variables.scss';
@import '../../styles/global.scss';

.education {
  .education-container {
    padding-top: 10px;
    .head {
      font-size: 18px;
      padding-bottom: 10px;
      span {
        color: $white;
        font-size: 20px;
        padding-right: 20px;
      }
    }
    .institute, .specialization {
      color: $content-darker-color;
    }
  }
}

@media print {
  .education-margin { height: 80px; }
  .education .education-container {
    .institute, .specialization {
      color: $black;
    }
    .head span {
      color: $black;
    }
  }
}
