<div class="contacts">
  <ul class="list">
    <li class="list-item">
      <b class="name">call</b>
      <span class="value">+38(063)578-59-24</span>
    </li>
    <li class="list-item">
      <b class="name">write</b>
      <span class="value">
        <a href="mailto:alexandr.rudin.my@gmail.com" target="_blank">alexandr.rudin.my@gmail.com</a>
      </span>
    </li>
    <li class="list-item">
      <b class="name">visit</b>
      <span class="value">
        <a href="https://github.com/sFiFty" target="_blank">https://github.com/sFiFty</a>
      </span>
    </li>
    <li class="list-item">
      <b class="name">skype</b>
      <span class="value">xsfiftx</span>
    </li>
  </ul>
</div>
