@import '../../styles/_variables.scss';
@import '../../styles/global.scss';

.companies {
  .company {
    border: 1px solid $content-color;
    display: flex;
    margin-top: 20px;
    position: relative;
    padding-right: 20px;
    flex-direction: column;
    .main-info {
      display: flex;
    }
    &:first-child {
      margin-top: 0px;
    }
    .more {
      position: absolute;
      top: 5px;
      right: 15px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
    .logo {
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      .logo-container {
        span {
          display: none;
        }
        svg {
          width: 40px;
        }
      }
      .name-mobile {
        display: none;
      }
    }
    a.name {
      color: $white;
      text-decoration: none;
      margin-right: 20px;
      font-size: 20px;
      position: relative;
      .label {
        position: absolute;
        top: -12px;
        right: -15px;
        color: $white;
        font-size: 10px;
        padding: 2px 5px;
        border-radius: 7px;
      }
      &:hover {
        text-decoration: underline;
      }
    }
    .decorist .logo-container svg {
      width: 80px;
    }
    .description {
      width: 75%;
      font-size: 16px;
      padding: 20px 30px 20px 0px;
      .head {
        .period {
          font-size: 18px;
        }
      }
      .content {
        padding-top: 10px;
        color: $content-darker-color;
      }
    }
  }
}

@media (max-width:800px) {
  .companies {
    .company {
      flex-direction: column;
      padding: 20px 20px 0px;
      .logo, .description {
        width: 100%;
      }
      .logo {
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid $content-darker-color;
        padding-bottom: 15px;
        .name-mobile {
          display: block;
          margin-right: 50px;
        }
      }
      .head {
        .name {
          display: none;
        }
      }
    }
  }
}
