@import '../../styles/_variables.scss';

.skillset {
  .skillset-container {
    ul.skillset-list {
      list-style: none;
      margin: 0;
      padding: 0;
      .skill {
        margin-top: 10px;
        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}
