<div class="cv">
  <div class="header">
    <h1>Hello,</h1>
    <div class="header-content">
      <div class="description">
        My name is <b>Oleksandr Rudin</b>,
        I'm a web enthusiast who loves to create new things and tackle challenging problems with intelligent concept.
      </div>
      <div class="contacts">
        <ul class="list">
          <li class="list-item">
            <b class="name">call</b>
            <span class="value">+38(063)578-59-24</span>
          </li>
          <li class="list-item">
            <b class="name">write</b>
            <span class="value">alexandr.rudin.my@gmail.com</span>
          </li>
          <li class="list-item">
            <b class="name">visit</b>
            <span class="value">https://github.com/sFiFty</span>
          </li>
          <li class="list-item">
            <b class="name">skype</b>
            <span class="value">xsfiftx</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="oblique"></div>
    <div class="left-col">
      <h2>Skillset</h2>
    </div>
    <div class="left-col">
      <h2>Experience</h2>
    </div>
  </div>
</div>
