@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');
@import '../../styles/_variables.scss';

body {
  margin: 0;
  padding: 0;
}

.cv {
  width: auto;
  margin: 0 auto;
  max-width: 1000px;
  .header {
    background: $header-bg;
    color: $header-text-color;
    padding: 20px 30px 60px;
    .top {
      display: flex;
      justify-content: space-between;
      .print {
        border: 2px solid $header-text-color;
        width: 16px;
        height: 16px;
        padding: 5px;
        color: $header-text-color;
        cursor: pointer;
        &:hover {
          border-color: $black;
          color: $black;
        }
      }
    }
    b, h1 {
      color: $black;
      margin: 0;
    }
    h1 {
      padding-bottom: 20px;
      font-size: 45px;
      letter-spacing: 1px;
    }
    .header-content {
      display: flex;
      width: auto;
      max-width: 800px;
      .description {
        width: 60%;
        padding-right: 80px;
        .additional-info {
          padding-top: 10px;
          .dob, .languages {
            b {
              display: inline-block;
              width: 100px;
            }
          }
        }
      }
      .contacts {
        width: 40%;
      }
    }
  }
  .main-content {
    display: flex;
    background-color: $content-bg;
    color: $content-color;
    padding: 40px 30px;
    position: relative;
    .oblique {
      position: absolute;
      transform: skewY(-3deg);
      width: 100%;
      background: $content-bg;
      height: 60px;
      top: -30px;
      left: 0px;
    }
    h2 {
      font-weight: 400;
    }
    .cv-info-container {
      display: flex;
      flex-direction: row;
      .cv-column {
        display: flex;
        flex-direction: column;
      }
      .cv-column:first-child {
        width: 40%;
      }
      .cv-column:last-child {
        width: 60%;
      }
      .companies-block {
        margin-top: 20px;
      }
    }
  }
}

@media print {
  .cv {
    margin: 10px 20px;
    .header, .main-content {
      background-color: $white;
      color: $black;
    }
    .header {
      padding-bottom: 20px;
      border-bottom: 2px solid $black;
    }
    .main-content {
      padding-top: 0px;
      .oblique {
        display: none;
      }
    }
  }
}

@media (max-width:800px) {
  .cv {
    .header {
      .top {
        i {
          display: none;
        }
      }
      h1 {
        text-align: center;
      }
      .header-content {
        flex-direction: column;
        .description, .contacts {
          width: 80%;
          max-width: 500px;
        }
        .description {
          padding: 0 0px 20px;
        }
      }
    }
    .main-content {
      .cv-info-container {
        flex-direction: column;
        .cv-column:first-child, .cv-column:last-child {
          width: 100%;
        }

        .cv-column:last-child {
          margin-top: 20px;
        }
      }
    }
  }
}


