<div class="cv">
  <div class="header">
    <div class="top">
      <h1>Hello</h1>
      <div class="print no-print" (click)="onAddPrintStyles()">
        <i class="fas fa-print"></i>
      </div>
    </div>

    <div class="header-content">
      <div class="description">
        My name is <b>Oleksandr Rudin</b>,
        I'm a web enthusiast who loves to create new things and tackle challenging problems with intelligent concept.
        <div class="additional-info">
          <div class="dob">
              <b>Age</b>  {{ age }} years
            </div>
            <div class="languages">
              <b>Languages</b> Ukrainian (native), English (intermediate)
            </div>
        </div>
      </div>
      <div class="contacts">
        <app-contacts></app-contacts>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="oblique"></div>
    <div class="cv-info-container">
      <div class="cv-info">
        <div class="info-block"><app-skillset></app-skillset></div>
        <div class="info-block"><app-companies></app-companies></div>

      </div>
      <div class="cv-info">
        <div class="info-block"><app-education></app-education></div>
      </div>
    </div>
  </div>
</div>
