<div class="cv">
  <div class="header">
    <h1>Hello,</h1>
    <div class="header-content">
      <div class="description">
        My name is <b>Oleksandr Rudin</b>,
        I'm a web enthusiast who loves to create new things and tackle challenging problems with intelligent concept.
      </div>
      <div class="contacts">
        <app-contacts></app-contacts>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="oblique"></div>
    <div class="left-col">
      <app-skillset></app-skillset>
    </div>
    <div class="right-col">
      <app-companies></app-companies>
    </div>
  </div>
</div>
